# Виконувані файли (компільований код)
*.exe
*.out
*.app

# Об'єктні файли
*.o
*.obj

# Папки IDE (Visual Studio, VS Code, CLion)
.vscode/
.vs/
out/
build/
cmake-build-debug/

# Тимчасові файли
*.log
*.tmp

*.sln
*.vcxproj
*.filters
*.user
Debug/
Release/